* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.carousel {
    margin-top: 50px;
}
#card {
	margin-top: 15px;
}

footer{
    background-color: #000;
	color: #fff;
    text-align: center;
}
.card-katalog {
    border-radius: 20px;
	border: 3px solid pink;
	margin-top: 15px;
}
.card-spesial {
    border-radius: 20px;
    border: 3px solid pink;
}
.spesial > h1 {
    margin-top: 100px;
    text-align: center;
}
.card-combo {
    border-radius: 20px;
	border: 3px solid pink;
}
.combo > h1 {
    margin-top: 50px;
    text-align: center;
}
.card-coffe {
    border-radius: 20px;
	border: 3px solid pink;
}
.coffe > h1 {
    margin-top: 50px;
    text-align: center;
}
.card-searchMenu-item {
    border-radius: 20px;
    border: 3px solid pink;
    width: 200px;
    margin-top: 50px;
}
#cart {
    height: 40px;
    width: 40px;
}
#cart-1{
    height: 25px;
    width: 30px;
}
#search {
    margin-top: 50px;
}
.cart{
    margin-top: 30px;
}
.cart-shop{
    border-radius: 20px;
    border: 3px solid pink;
    width: 50%;
}
#pic{
    border-radius: 10px;
    border: 3px solid black;
    margin: 5px;
}
.cart{
    border-radius: 20px;
    border: 3px solid pink;
    margin-top: 100px;
}

.cards {
    position: absolute;
    right: 200px;
    margin-top: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #f7a1d4;
    width: 200px;
    text-align: center;
    font-weight: 700;
    transform: scale(1.5);
}
.card{
    border-radius: 10px;
    border: 3px solid pink;
}
.admin{
    height: 40px;
    width: 40px;
}
#home{
    height: 50px;
    width: 50px;
}

#plus{
    height: 40px;
    width: 40px;
}
.table{
    margin-top: 50px;
}